## .NET / WPF
bin/
obj/
*.user
*.csproj.user        # VS 调试/启动设置缓存
*.suo
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb

## VS Code
.vscode/

## Rider
.idea/

## VS
.vs/

## Publish
publish/
*.pubxml
*.pubxml.user

## Logs
Logs/
*.log

## OS
.DS_Store
Thumbs.db
